* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
    text-transform: none;
    text-decoration: none;
}

body {
    font-family: Arial;
    font-size: 16px;
}

#logo {
    display: none;
}

#company {
    float: right;
    border-right: 18px solid #06C;
    padding-right: 20px;
    text-align: right;
    margin-bottom: 20px;
    font-size: 18px;
}

#company .name {
    font-weight: bold;
}

#info {
    margin: 40px 0;
    text-align: center;
}

#info .header .line,
#info .data .line {
    float: left;
    border-right: 2px solid #FFF;
    border-bottom: 1px solid #CCC;
    margin-right: 2px;
    padding: 3px 6px;
    width: 33%;
}

#info .header .line {
    background: #EEE;
    border-bottom: 1px solid #CCC;
    font-weight: bold;
}

#info .header .line:last-child,
#info .data .line:last-child {
    border-right: 0;
    margin-right: 0;
}

#client {
    margin: 40px 0;
}

#client .line .header,
#client .line .data {
    margin-bottom: 2px;
}

#client .line .header {
    padding: 3px 40px 3px 6px;
    text-align: left;
    background: #EEE;
    white-space: nowrap;
    border-bottom: 1px solid #CCC;
}

#client .line .data {
    padding: 3px 20px 3px 15px;
    border-bottom: 1px solid #EEE;
    width: 99%;
}

#client .line .name {
    font-weight: bold;
}

#items {
    border-right: 18px solid #06C;
    padding: 0 20px 40px 0;
    margin-top: 40px;
}

#items .list {
    width: 100%;
    font-size: 14px;
}

#items .list .header .line {
    font-weight: bold;
    background: #EEE;
    border-bottom: 1px solid #CCC;
    padding: 3px 6px;
}

#items .list .data .line {
    padding: 3px 6px;
    border-bottom: 1px solid #EEE;
}

#items .list .reference {
    white-space: nowrap;
    text-align: left;
}

#items .list .description {
    text-align: left;
}

#items .list .amount,
#items .list .quantity,
#items .list .discount,
#items .list .total {
    text-align: center;
    white-space: nowrap;
}

#items .list .data .total {
    width: 90px;
    text-align: right;
    padding-right: 20px;
}

#total {
    float: right;
    border-right: 18px solid #06C;
    padding-right: 20px;
    margin-bottom: 20px;
}

#total .header {
    float: left;
    width: 140px;
    text-align: right;
}

#total .data {
    float: left;
    margin-left: 10px;
    width: 140px;
}

#total .line {
    margin-bottom: 2px;
    padding: 3px 6px;
}

#total .header .line {
    background: #EEE;
    border-bottom: 1px solid #CCC;
}

#total .data .line {
    border-bottom: 1px solid #EEE;
    padding-right: 20px;
    text-align: right;
}

#total .total {
    font-weight: bold;
}

#comment {
    margin-top: 40px;
    border: 1px solid #CCC;
    height: 120px;
}

#comment .title {
    padding: 3px 10px;
    background: #CCC;
    color: #FFF;
    font-weight: bold;
}

#comment .text {
    padding: 10px;
}

.clear:after {
    content: '';
    display: block;
    clear: both;
}