<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true">
    <testsuites>
        <testsuite name="Unit">
            <file>./tests/Unit/UserTest.php</file>
            <file>./tests/Unit/CompanyTest.php</file>
            <file>./tests/Unit/InvoiceSerieTest.php</file>
            <file>./tests/Unit/InvoiceStatusTest.php</file>
            <file>./tests/Unit/DiscountTest.php</file>
            <file>./tests/Unit/PaymentTest.php</file>
            <file>./tests/Unit/ProductTest.php</file>
            <file>./tests/Unit/ShippingTest.php</file>
            <file>./tests/Unit/TaxTest.php</file>
            <file>./tests/Unit/ClientTest.php</file>
            <file>./tests/Unit/ClientAddressTest.php</file>

            <file>./tests/Unit/ClientAddressFinishTest.php</file>
            <file>./tests/Unit/ClientFinishTest.php</file>
            <file>./tests/Unit/TaxFinishTest.php</file>
            <file>./tests/Unit/ShippingFinishTest.php</file>
            <file>./tests/Unit/ProductFinishTest.php</file>
            <file>./tests/Unit/PaymentFinishTest.php</file>
            <file>./tests/Unit/DiscountFinishTest.php</file>
            <file>./tests/Unit/InvoiceStatusFinishTest.php</file>
            <file>./tests/Unit/InvoiceSerieFinishTest.php</file>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>

    <php>
        <server name="APP_ENV" value="testing"/>
        <server name="BCRYPT_ROUNDS" value="4"/>
        <server name="CACHE_DRIVER" value="array"/>
        <server name="MAIL_DRIVER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="SESSION_DRIVER" value="array"/>
    </php>
</phpunit>